<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.boot.shrio.mapper.UserMapper">
	
	<resultMap type="User" id="UserMap" autoMapping="true">
		<!-- 定义主键，column是数据库中的列名。property是java中的类属性名 -->
		<id column="t_id" property="id" />
		<result column="t_name"  property="name"/>
		
	</resultMap>

	<select id="findUserByUserName" resultMap="UserMap">
	
		select * from t_user where t_name= #{userName}
		
	</select>
	
	

</mapper>