<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xulei.lock.dao.PriceVersionMapper">


	<sql id="Base_Column_List">
		id, province_id, city_name, description
	</sql>


	<delete id="updateLock" parameterType="PriceVersion">
		update price_version set  version=version+1 ,front=#{front} ,end=#{end} where id=#{id} AND  version =#{version};
	</delete>

</mapper>
